body {
  font-family: sans-serif;
  background: #eee;
  padding: 20px;
}
/* .card {
  background: white;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
} */

fieldset {
  display: grid;
  grid-template-columns: 150px 1fr;

  margin-bottom: 20px;
  border: 1px solid #ccc;
}

label {
  text-align: right;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}

input {
  margin: 5px;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

/* Flex example */
.flex-div {
  display: flex;
  align-items: center;
}

/* Responsive breakpoint */
@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}

/* Validation feedback */
input:not(:placeholder-shown):invalid {
  border: 2px solid red;
}
input:focus:valid {
  border: 2px solid green;
}
select:not(:placeholder-shown):invalid {
  border: 2px solid red;
}
select:valid {
  border: 2px solid green;
}

input [type="datetime-local"]:focus:invalid {
  border: 2px solid red;
}

.thead-padding {
  padding: 30px 20px 10px 20px;
}

td {
  padding: 10px 20px;
}

tbody tr:nth-child(even) {
  background-color: #b3b3b3;
}

tr:hover {
  background-color: #fdfdfd;
}

tbody tr:nth-child(even):hover {
  background-color: #fdfdfd;
}
